<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <link rel="shortcut icon" href="icon.png" type="image/x-icon">
  <title>Gerador de Link do WhatsApp</title>
</head>

<body>
  <div id="app">
    <h2>Gerador de link do <span class="greenName">WhatsApp</span></h2>
    <form>
      <div class="form-one">
        <label class="labelPhone" for="phone">Número do celular</label>
        <input type="text" v-model="prefix" class="prefix" id="phone"/>
        <input type="text" v-model="phone" placeholder="DDD + número" class="phone"/>
      </div>
      <div class="form-two">
        <label for="text" class="labelMessage">Mensagem de texto</label>
        <textarea v-model="text" id="message" class="message"></textarea>  
      </div>
      <button @click="gerarLink" class="openLink">Gerar link</button>
    </form>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="vue.js"></script>
</body>

</html>